{% extends "base.html" %}
{% load static %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static '/scripts/budget.js' %}"></script>   
{% endblock %}

{% block content %}
	<section>
		<form onsubmit="addTableRow(); return false;">
			<p><b>Add Item to Budget</b></p>
			<p>
				<label for="bname">Name:</label> 
				</br>
				<input type="text" name="bname" id="bname" size="10" required="required"/>
			</p>
			<p>
				<label for="value">Value ($):</label> 
				</br>
				<input type="text" name="pvalue" pattern="[0-9.]*" id="pvalue" size="10" required="required"/>
			</p>
			<p>
				Type:
				<p>
					<input type="radio" id="income" name="type" value="Income"/>
					<label for="income">Income</label>
				</p>
				<p>
					<input type="radio" id="spending" name="type" value="Spending" required="required"/>
					<label for="spending">Spending</label>
				</p>
			</p>
			<input type= "submit" value="Add"/>
		</form>
	</section>
	
	<section class="right">
		<table id="tb">
			<tr>
				<th colspan="3">My Weekly Budget Items</th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Value</th>
			</tr>
			<tr>
				<th colspan='2'>Total Savings:</th>
				<td id="total"></td>
				<td></td>
			</tr>
		</table>
	</section>
{% endblock %}