{% extends "base.html" %}
{% load static %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="{% static '/scripts/reports.js' %}"></script> 
{% endblock %}

{% block content %}
	<section class="charts">
		<h2>Graphs of your Spending</h2>
		<div>
			<h3>What makes up your plan</h3>
			<canvas id="pieChart" width="100%" height="100%"></canvas>
		</div>
		<div>
			<h3>Your total savings since planning your budget</h3>
			<canvas id="lineChart" width="100%" height="100%"></canvas>
		</div>
		<div>
			<h3>Weekly breakdown of your savings</h3>
			<canvas id="barChart" width="100%" height="100%"></canvas>
		</div>
	</section>
	
	</br>
{% endblock %}
