{% load static %}
<!DOCTYPE html>
<html lang="en"  class="index">
<head>
	<meta charset="utf-8" >
	<meta name="description" content="home" />
	<meta name="keywords" content="HTML5, reports" />
	<meta name="author" content=""  />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link type="text/css" rel="stylesheet" href= "{% static 'styles/styles.css' %}"/>

	<title>Budget: My Plan</title>
</head>
<body>
	<header>
		<h1 id="mainH">Header</h1>
		
		<div class="profile">
			<p><a href="/profile">Profile</a>&nbsp&nbsp
			<a href="/profile"><img id="proimg" src="{% static 'images/placeholder.png' %}" alt="Profile Picture" align="middle" style="width:5em;height:5em;"/></a></p>
		</div>
		
		</br>
		<div class="btn-group">
			<form action="/budget"><button type="submit">My Plan</button></form>
			<form action="/spending"><button type="submit">Actual Spending</button></form>
			<form action="/reports"><button type="submit" id="active">Reports</button></form>
		</div>
		
		<hr>
		</br>
	</header>

</body>
</html>